<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.periphery.eyes">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <provider android:authorities="io.github.periphery.eyes.provider"
                  android:name=".EyesContentProvider"/>
        <activity android:name=".WelcomeActivity" android:icon="@android:drawable/arrow_up_float" android:label="Eyes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
